<h4>A test for NGRX nested ofType in effects</h4>

<p>Open the console and watch for logs</p>

<ul>
  <li><button (click)="loadUsers()">First ofType in Effect</button></li>
  <li><button (click)="fireNestedAction()">Nested ofType in Same Effect</button></li>
</ul>

<h4>Outcomes</h4>
<ul>
  <li>Click the second button first -- take notice that no log is emitted</li>
  <li>Click the first button then the second -- all works fine</li>
</ul>

<p>What is happening is the top level ofType must fire at least 1 time to have the nested ofType register and start listening for it's action.</p>
<p>Suggestion...use more actions and do not nest to avoid the inner ofType never catching it's action.</p>

<router-outlet></router-outlet>
